<md-sidenav-layout>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-raised-button (click)="link()">Generar enlace</button>
  </md-sidenav>
  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="app-title">Calcupienso</span> 
    <span class="app-toolbar-filler"></span>
  </md-toolbar>
  <div class="app-content">
    <md-card>
      <md-card-title>Cálculo de la cantidad correcta de pienso para tu perro</md-card-title>
      <md-card-content>
        <md-card >
          <md-card-title>¿Cómo es tu perro?</md-card-title>
          <md-radio-group [(ngModel)]="p1">
            <md-radio-button *ngFor="let t of cserve.tipo" name="ncr" [value]="t[1]">
              {{t[0]}}
            </md-radio-button>
            
          </md-radio-group>
        </md-card>

        <md-card>
          <md-card-title>¿Qué raza es?</md-card-title>
          <md-radio-group [(ngModel)]="k1">
            <md-radio-button *ngFor="let r of cserve.raza" name="k1" [value]="r[1]">
              {{r[0]}}
            </md-radio-button>
            
          </md-radio-group>
        </md-card>
        <md-card>
          <md-card-title>¿Qué nivel de actividad tiene?</md-card-title>
          <md-radio-group [(ngModel)]="k2">
            <md-radio-button *ngFor="let a of cserve.actividad" name="k2" [value]="a[1]">
              {{a[0]}}
            </md-radio-button>
          </md-radio-group>
        </md-card>
        <md-card>
          <md-card-title>Estado fisiológico</md-card-title>
          <md-radio-group [(ngModel)]="s_fisio">
            <md-radio-button [value]="cserve.fisio.indexOf(f)" name="sssss" *ngFor="let f of cserve.fisio" (click)="slider1(f)">{{f[0]}}
            </md-radio-button>
            <p *ngIf="k3">{{selected[3]}}</p>
            <md-slider [(ngModel)]="k3" *ngIf="k3 && selected[2] != undefined"  [min]="selected[1]" [max]="selected[2]" [value]="k3" ></md-slider>
                <span *ngIf="k3">{{k3/10}}</span>
          </md-radio-group>
          
        </md-card>
        <md-card>
          <md-card-title>Estado de salud</md-card-title>
          <md-radio-group [(ngModel)]="s_salud">
            <md-radio-button [value]="cserve.salud.indexOf(s)" name="sssss" *ngFor="let s of cserve.salud" (click)="slider2(s)">{{s[0]}}
            </md-radio-button>
            <p *ngIf="k4">{{selected_salud[3]}}</p>
            <md-slider [(ngModel)]="k4" *ngIf="k4 && selected_salud[2] != undefined"  [min]="selected_salud[1]" [max]="selected_salud[2]" [value]="k4" ></md-slider>
                <span *ngIf="k4">{{k4/10}}</span>
          </md-radio-group>
        </md-card>
        <md-card class="card-fin" id="end"> 
          
            <md-card-title>Para finalizar</md-card-title>
            <md-card-content >
              <md-input placeholder="Peso" [(ngModel)]="peso">
                <span md-suffix>Kg</span>
              </md-input>
            </md-card-content>
            <md-card-content>
              <md-input placeholder="Energía metabolizante del pienso" [(ngModel)]="pienso">
                <span md-suffix>Kcal/Kg</span>
              </md-input>
            </md-card-content>
          
          <md-card-content class="fin" *ngIf="cserve.fulldata(p1,k1,k2,k3,k4,peso,pienso)">
              <h2>Tu perro debe comer {{(p1*(exp(peso,0.75))*k1*k2*k3*k4)/pienso/10 | number:'1.1-2'}} gr diarios.</h2>
              <button md-raised-button color=primary (click)="link()">Generar enlace</button>
              <p>Este enlace lo podrás guardar en marcadores para no tener que introducir de nuevo todos los datos de tu perro.</p>
              <input type="text" class="enlace" *ngIf="enlace" [ngModel]="enlace">
              <button md-raised-button class="ir-btn" *ngIf="enlace" color=primary (click)="ir()">Ir</button>
          </md-card-content>
        </md-card>
        

      </md-card-content>
      
    </md-card>
  </div>
</md-sidenav-layout>