<div class="app-root">
  <div class="cabecera">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <button md-raised-button class="btn-1 btn-cab" (click)="inicio()">
        <span class="glyphicon glyphicon-home"></span>
        <span class="hidden-xs"> Inicio</span>
      </button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h1 class="text-center">Calcupienso</h1>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
      <button md-raised-button class="btn-1 btn-cab pull-right" (click)="ayuda()">
        <span class="glyphicon glyphicon-info-sign"></span>
        <span class="hidden-xs"> Ayuda</span>
      </button>
    </div>
  </div>
  <div class="contenido">
    <md-input placeholder="Peso del perro" align="end" class="text-center">
      <span md-suffix> Kg</span>
    </md-input>

  </div>






</div>